<div class="contentIn" style="position:relative; display:flex; flex-direction:column; height:100%;">
  <div class="pageTitle"><div style=" flex: 0 1 auto; padding:10px;">Angular Page</div></div>
  <div class="pageExplain"><div style=" flex: 0 1 auto; padding: 10px;">This is a simple page layout using only Angular. </div></div>
<!--  <component type="typeof(SampleForm)" render-mode="ServerPrerendered" param-Razor="@Model.Razor" /> -->
<app-example-form style="height: 100%;" [SampleItemList]="_dataReturn.sampleItems" ></app-example-form>
</div>

